<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruisen.rsmanage.customer.mapper.CustomerPartnerMapper">

  <resultMap id="customerPartnerMap" type="com.ruisen.rsmanage.customer.entity.CustomerPartnerEntity">
        <id property="relationId" column="relation_id"/>
        <result property="customerId" column="customer_id"/>
        <result property="partnerCode" column="partner_code"/>
        <result property="customerRevenueShare" column="customer_revenue_share"/>
        <result property="partnerAccount" column="partner_account"/>
        <result property="partnerPassword" column="partner_password"/>
        <result property="adsTxtContent" column="ads_txt_content"/>
        <result property="createdAt" column="created_at"/>
        <result property="url" column="url"/>
  </resultMap>
	<select id="qry" resultType="com.ruisen.rsmanage.customer.Po.CustomerPartnerPo">
		select cp.* ,cu.name as customerName from rs_customer_partner_relations cp
		left join rs_customers cu on cp.customer_id = cu.customer_id
		<where>
			1 = 1
			<if test="customerId != null and customerId != ''">
				AND cp.customer_id = #{customerId}
			</if>
			<if test="partnerCode != null and partnerCode != ''">
				AND cp.partner_code = #{partnerCode}
			</if>
			<if test="partnerAccount!= null and partnerAccount!= ''">
				AND cp.partner_account = #{partnerAccount}
			</if>
			<if test="customerName!= null and customerName!= ''">
				AND cu.name = #{customerName}
			</if>
		</where>

		order by created_at DESC
	</select>
</mapper>
