<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruisen.rsmanage.customer.mapper.CustomerGamEmailsMapper">

  <resultMap id="customerGamEmailsMap" type="com.ruisen.rsmanage.customer.entity.CustomerGamEmailsEntity">
        <id property="emailId" column="email_id"/>
        <result property="customerId" column="customer_id"/>
        <result property="email" column="email"/>
        <result property="networkCode" column="network_code"/>
        <result property="createdAt" column="created_at"/>
        <result property="partnerCode" column="partner_code"/>
        <result property="adsTxtContent" column="ads_txt_content"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
  </resultMap>
</mapper>
