<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruisen.rsmanage.customer.mapper.PartnersMapper">

  <resultMap id="partnersMap" type="com.ruisen.rsmanage.customer.entity.PartnersEntity">
        <id property="partnerId" column="partner_id"/>
        <result property="partnerName" column="partner_name"/>
        <result property="partnerCode" column="partner_code"/>
        <result property="revenueShare" column="revenue_share"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="validDays" column="valid_days"/>
        <result property="createdAt" column="created_at"/>
  </resultMap>
</mapper>
